<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ciclo Básico</title>

    <link
            rel="shortcut icon"
            th:href="@{/imagens/favicon.ico}"
            type="image/x-icon"
    />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <link rel="stylesheet" th:href="@{/css/shared.css}" />
    <link rel="stylesheet" th:href="@{/css/aula.css}" />
</head>
<body>
<div th:insert="fragments/nav"></div>
<main>
<div class="container my-5">
    <h3 th:text="${nomeCurso}"></h3>
    <h2 th:text="${aulaDTO.nome}"></h2>
    <div class="row my-3">
        <div class="col-12 col-md-6">
            <p th:text="${aulaDTO.descricao}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 container-video">
            <iframe th:src="${'https://www.youtube.com/embed/' + aulaDTO.urlVideo}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="iframe-video"></iframe>
        </div>
    </div>
</div>
</main>
<div th:include="fragments/footer"></div>
</body>
</html>
