<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Ciclo Básico</title>

      <link
              rel="shortcut icon"
              th:href="@{/imagens/favicon.ico}"
              type="image/x-icon"
      />

      <link
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
              crossorigin="anonymous"
      />
      <link rel="stylesheet" th:href="@{/css/shared.css}" />
      <link rel="stylesheet" th:href="@{/css/login.css}" />
    </head>
  <body>
  <div th:insert="fragments/nav"></div>
    <main>
      <div class="container">
        <div class="row mt-5">
          <div class="col-12 col-md-6">
            <h2 th:text="${cursoDTO.nome}">Título do curso</h2>
            <p th:text="${cursoDTO.descricao}">Descrição</p>
            <button></button>
          </div>
          <div class="col-12 d-none d-md-block col-md-6">
            <img  th:src="@{${'/imagens/capas/'+ cursoDTO.urlCapa}}"
            class="img-fluid foto"/>
          </div>
        </div>
        <form sec:authorize="isAuthenticated()" th:action="@{${'/matricula/'+ #authentication.getPrincipal().getAluno().getId() + '/' + cursoDTO.id}}" method="post">
          <button type="submit" class="botao" sec:authorize="isAuthenticated()" >Fazer matrícula</button>
        </form>
        <div class="row mt-3">
          <h4>Aulas</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th scope="2">Nome</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="aula : ${cursoDTO.aulas}">
                <td th:text="${aula.id}"/>
                <td th:text="${aula.nome}"/>
                <td><a th:href="@{${'/aula/' + aula.id}}">Link para a aula</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </main>
    <div th:include="fragments/footer"></div>
  </body>
</html>
