<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ciclo Básico</title>

    <link
            rel="shortcut icon"
            th:href="@{/imagens/favicon.ico}"
            type="image/x-icon"
    />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <link rel="stylesheet" th:href="@{/css/shared.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
    <div th:include="fragments/nav"></div>
    <h3>Página não encontrada</h3>
</body>
</html>