<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ciclo Básico</title>
    <link rel="shortcut icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" th:href="@{/css/shared.css}" />
    <link rel="stylesheet" th:href="@{/css/sobre.css}" />
  </head>
  <body>
  <div th:insert="fragments/nav"></div>
    <main>
      <div class="container">
        <div class="row my-5">
          <div class="col-12 foto-campus-container">
            <img class="img-fluid foto foto-campus" th:src="@{/imagens/estudantes-campus.jpg}" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <h2>Sobre o Ciclo Básico</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quibusdam cupiditate possimus quidem unde? Animi cupiditate iste aliquam, mollitia corrupti amet modi iusto, ducimus maxime, facilis minus! Praesentium, reprehenderit ea.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus dicta quasi distinctio harum saepe, reprehenderit quaerat id molestias quisquam, eligendi quas sed! Facere, culpa omnis consequuntur sunt ea dignissimos!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fugiat nesciunt nisi neque dignissimos. At maxime error nam, modi recusandae quos, doloribus natus quae corporis, rerum perferendis suscipit. Dolorum, laborum.</p>
          </div>
          <div class="col-12 col-md-8">
            <iframe src="https://www.youtube.com/embed/z07NheO4TUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="row my-5">
          <h3 class="text-center mb-4">Quem somos</h3>
          <div class="col-12 col-md-6 col-lg-3 mb-3 text-center">
            <div class="container-foto-pessoa lg-3 mb-3 mx-auto foto">
              <img th:src="@{/imagens/quem-somos-1.jpg}" alt="">
            </div>
            <div class="descricao-pessoa">
              <h4>Fulana de Tal</h4>
              <h5>CEO</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore numquam eius natus a, ipsum quis molestias consequuntur! Dolorum perspiciatis blanditiis saepe non doloribus unde labore placeat eligendi. Tempore, corporis vel?</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mb-3 text-center">
            <div class="container-foto-pessoa lg-3 mb-3 mx-auto foto">
              <img class="pessoa-2" th:src="@{/imagens/quem-somos-2.jpg}" alt="">
            </div>
            <div class="descricao-pessoa">
              <h4>Siclana Gomes</h4>
              <h5>Coordenação Técnica</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore numquam eius natus a, ipsum quis molestias consequuntur! Dolorum perspiciatis blanditiis saepe non doloribus unde labore placeat eligendi. Tempore, corporis vel?</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mb-3 text-center">
            <div class="container-foto-pessoa lg-3 mb-3 mx-auto foto">
              <img class="pessoa-3" th:src="@{/imagens/quem-somos-3.jpg}" alt="">
            </div>
            <div class="descricao-pessoa">
              <h4>Beltrana Teixeira</h4>
              <h5>Coordenação Pedagógica</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore numquam eius natus a, ipsum quis molestias consequuntur! Dolorum perspiciatis blanditiis saepe non doloribus unde labore placeat eligendi. Tempore, corporis vel?</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mb-3 text-center">
            <div class="container-foto-pessoa lg-3 mb-3 mx-auto foto">
              <img class="pessoa-4" th:src="@{/imagens/quem-somos-4.jpg}" alt="">
            </div>
            <div class="descricao-pessoa">
              <h4>Alguém da Silva</h4>
              <h5>Parcerias Institucionais</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore numquam eius natus a, ipsum quis molestias consequuntur! Dolorum perspiciatis blanditiis saepe non doloribus unde labore placeat eligendi. Tempore, corporis vel?</p>
            </div>
          </div>
        </div>
      </div>
       <div th:include="fragments/parcerias"></div>
    </main>
    <div th:include="fragments/footer"></div>
  </body>
</html>
