<!DOCTYPE html>
<head>
</head>
<body>
<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input
                type="text"
                class="form-control custom-input"
                id="nome"
                placeholder="Digite seu nome"
        />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
                type="email"
                class="form-control custom-input"
                id="email"
                placeholder="Digite seu email"
        />
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input
                type="password"
                class="form-control custom-input"
                id="senha"
                placeholder="Digite sua senha"
        />
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="botao">Cadastrar</button>
    </div>
</form>

</body>
</html>