<!DOCTYPE html>
<html lang="pt-br">
<head>
</head>
<body>
<!-- form contato begin  -->

<div class="container my-5">
    <form>
        <div class="row">
            <h2 class="text-center mb-3">Fale conosco</h2>
            <div class="col-12 col-md-6 mt-4">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" placeholder="Digite seu nome completo" class="form-control custom-input" id="nome">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" placeholder="Digite seu email" class="form-control custom-input" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="text" placeholder="DDD + Telefone" class="form-control custom-input" id="telefone">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column mt-4">
                <div class="mb-3">
                    <label for="assunto" class="form-label">Assunto</label>
                    <input type="text" placeholder="Digite o assunto" class="form-control custom-input" id="assunto">
                </div>
                <div class="mb-3">
                    <label for="mensagem" class="form-label">Mensagem</label>
                    <textarea class="form-control custom-input" id="mensagem" placeholder="Escreva sua mensagem" rows="3"></textarea>
                </div>
                <div class="col-auto align-self-end">
                    <button type="submit" class="botao mb-3">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- form contato end  -->
</body>
</html>