<!DOCTYPE html>
<html lang="pt-br">
<head>
</head>
<body>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control custom-input" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control custom-input" id="exampleInputPassword1">
    </div>
    <button type="submit" class="botao">Entrar</button>
</form>
</body>
</html>