<!DOCTYPE html>
<head>
</head>
<body>
<!-- catalogo home start  -->
<section class="cursos mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-3">
                <h2>O que você quer descobrir hoje?</h2>
                <h3>Conheça nossos cursos</h3>
            </div>
            <div
                    class="col-6 col-lg-3 d-flex flex-column justify-content-between"
            >
                <img
                        th:src="@{/imagens/biologicas.jpg}"
                        alt="Borboleta"
                        class="foto img-fluid my-3"
                />
                <a href="../../../../../../../UC08/conv_thymeleaf/ciclo-basico/catalogo.html" class="botao text-center mb-3"
                >Biológicas</a
                >
            </div>
            <div
                    class="col-6 col-lg-3 d-flex flex-column justify-content-between"
            >
                <img
                        th:src="@{/imagens/exatas.jpg}"
                        alt="Calculadora em uma mesa"
                        class="foto img-fluid my-3"
                />
                <a href="../../../../../../../UC08/conv_thymeleaf/ciclo-basico/catalogo.html" class="botao text-center mb-3"
                >Exatas</a
                >
            </div>
            <div
                    class="col-6 col-lg-3 d-flex flex-column justify-content-between"
            >
                <img
                        th:src="@{/imagens/humanas.jpg}"
                        alt="Livro aberto"
                        class="foto img-fluid my-3"
                />
                <a href="../../../../../../../UC08/conv_thymeleaf/ciclo-basico/catalogo.html" class="botao text-center mb-3"
                >Humanas</a
                >
            </div>
            <div
                    class="col-6 col-lg-3 d-flex flex-column justify-content-between"
            >
                <img
                        th:src="@{/imagens/interdisciplinares.jpg}"
                        alt="Pessoa escrevendo em post-its"
                        class="foto img-fluid my-3"
                />
                <a href="../../../../../../../UC08/conv_thymeleaf/ciclo-basico/catalogo.html" class="botao text-center mb-3"
                >Interdisciplinares</a
                >
            </div>
        </div>
    </div>
</section>
<!-- catalogo home end  -->
</body>
</html>