<!DOCTYPE html>

<head>
</head>
<body>
<!-- parcerias logos start  -->
<section>
    <div class="container mt-5 parceiros">
        <div class="row justify-content-between">
            <h2 class="mb-3 text-center">Nossos parceiros</h2>
            <div class="col-6 col-md-4 col-lg-2 logos-parceiros foto d-flex align-items-center">
                <img th:src="@{/imagens/logo-senai.jpeg}" alt="Logo SENAI" class="img-fluid">
            </div>
            <div class="col-6 col-md-4 col-lg-2 logos-parceiros foto d-flex align-items-center">
                <img th:src="@{/imagens/logo-instituto-federal.png}" alt="Logo IF" class="img-fluid">
            </div>
            <div class="col-6 col-md-4 col-lg-2 logos-parceiros foto d-flex align-items-center">
                <img th:src="@{/imagens/logo-ufabc.jpeg}" alt="Logo UFABC" class="img-fluid">
            </div>
            <div class="col-6 col-md-4 col-lg-2 logos-parceiros foto d-flex align-items-center">
                <img th:src="@{/imagens/logo-unesp.png}" alt="Logo UNESP" class="img-fluid">
            </div>
            <div class="col-6 col-md-4 col-lg-2 logos-parceiros foto d-flex align-items-center">
                <img th:src="@{/imagens/logo-unicamp.jpeg}" alt="Logo Unicamp" class="img-fluid">
            </div>
            <div class="col-6 col-md-4 col-lg-2 logos-parceiros foto d-flex align-items-center">
                <img th:src="@{/imagens/logo-usp.png}" alt="Logo USP" class="img-fluid">
            </div>
        </div>
        <div class="row text-center mt-3">
            <h5>Sua instituição quer fazer parte?</h5>
            <p><a href="#" th:href="@{/contato}">Entre em contato conoso.</a></p>
        </div>
    </div>
</section>
<!-- parcerias logos end  -->
</body>
</html>